/* #kkk .first_name .ant-input-affix-wrapper.ant-input-affix-wrapper-lg {
  background-color: aqua !important;
}
#kkk .first_name .ant-input.ant-input-lg {
  background-color: aqua !important;
} */
.ant-form {
  padding: 50px;
  background-image: url("https://unsplash.com/fr/photos/une-pile-de-livres-ouverts-poses-les-uns-sur-les-autres-gHeyNYSN0GA");
}
